<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Scripts-->

    <script defer src="/node_modules/swup/dist/swup.min.js"></script>
    <script defer src="../public/JS/script.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/css/utilities.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Atomic Gaming</title>
</head>

<body id="home" >

    <header class="hero">
        <div id="navbar" class="navbar">
            <h1 class="logo">
                <span class="text-primary"><i class="fas fa-gamepad"></i> Atomic </span> Gaming
            </h1>
            <nav>
                <ul>
                    <li><a href="/client/views/index.html">Home</a></li>
                    <li><a href="/client/views/browse.html">Browse</a></li>
                    <li><a href="/client/views/login.html">Login</a></li>
                    <li><a href="/client/views/signup.html">Sign Up</a></li>
                </ul>
            </nav>

        </div>


        <div class="content">
            <main id="swup" class="transition-fade">
                <h1> Play your way</h1>
                <p> Anywhere Anytime with Anyone</p>
                <a href="#team" class="btn">Read More</a>
            </main>
        </div>

    </header>
  
        <section class="card-container">
            <div class="our-team"><b>O<span><span>ur<span>Tea<span>m</span></b></div>
        
            <div class="card-grid">
                <a href="" class="card">
                    <div class="card-background" style="background-image: url(/client/views/assets/Alfred.jpg);"></div>
                    <span class="card-content">
                        <h3 class="card-heading">Alfred Ortiz</h3>
                        <p class="card-description">Software Developer</p>
                    </span>
                </a>
                <a href="" class="card">
                    <div class="card-background" style="background-image: url(/client/views/assets/John.jpg);"></div>
                    <span class="card-content">
                        <h3 class="card-heading">John Gustafson</h3>
                        <p class="card-description">Software Developer</p>
                    </span>
                </a>
                <a href="" class="card">
                    <div class="card-background" style="background-image: url(/client/views/assets/Craig.jpg);"></div>
                    <span class="card-content">
                        <h3 class="card-heading">Craig</h3>
                        <p class="card-description">Information Systems</p>
                    </span>
                </a>
                <a href="" class="card">
                    <div class="card-background" style="background-image: url(/client/views/assets/Johnathan.jpg);"></div>
                    <span class="card-content">
                        <h3 class="card-heading">Johnathan</h3>
                        <p class="card-description">Software Developer</p>
                    </span>
                </a>
            </div>
        </section>
</body>

</html>