<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Scripts-->

     <script defer src="/node_modules/swup/dist/swup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/css/utilities.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Login Player</title>
</head>

<body id="home">

    <header class="hero">
        <div id="navbar" class="navbar">
            <h1 class="logo">
                <span class="text-primary"><i class="fas fa-gamepad"></i> Atomic </span> Gaming
            </h1>
            <nav>
                <ul>
                    <li><a href="/client/views/index.html">Home</a></li>
                    <li><a href="/client/views/browse.html">Browse</a></li>
                    <li><a href="/client/views/login.html">Login</a></li>
                    <li><a href="/client/views/signup.html">Sign Up</a></li> 
                </ul>
            </nav>
           
        </div>
        <div class="content">
            <main id="swup" class="transition-fade">
            <h1> Login</h1>
            <p> Welcome Back Player</p>
            <a href="#team" class="btn">Login</a>
        </main>
        </div>
    </header>

</body>

</html>